<div align="center">
	<style>
	body {background-color: lightgrey;}
	h1   {color: darkred;}
	</style>
	<h1>Battle!</h1>
	<h2>Sign in to play</h2>
	<form action="/names" method="post">
	  <label for="player_1_name">
	    Player 1 Name:<br><br>
	    <input type="text" name="player_1_name">
	  </label>
	    <input type="hidden" value="Computer" name="player_2_name">
	  <br><br>
	  <input type="submit" value="Submit">
	</form>
</div>
